include ../nav/nav

mixin topline(items = [])
  header.topline
    .container-fluid.container-fluid_size_md
      .spacer.clearfix
        h1.topline__logo Slider name
        .topline__nav
          +nav(items).nav_main
