include ./components/topline/topline

-
  const dataSet = [
    {
      title: "default example",
      options: {},
    },
    {
      title: "custom example",
      options: {
        boundaries: [-200, 300],
        values: [-100, 200],
        step: 10,
        isVertical: false,
        hasTooltips: true,
      },
    },
    {
      title: "vertical example",
      options: {
        boundaries: [-500, 500],
        values: [-300, -200, 200],
        step: 25,
        isVertical: true,
        hasTooltips: true,
      },
    }
  ];

doctype html
html.page(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="keywords" content="slider, range-slider, range, demo, page, demo-page, playground")
    meta(name="description" content="A demo-page for Slider plugin")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="stylesheet" href="./style.scss")
    title Slider plugin Demo-page
  body.page__body.js-app
    .page__topline
      +topline()
    main.page__content.page__content_centered(role="main")
      include ./pages/playground-page/playground-page
    .page__footer
      include ./components/footer/footer

    script(src="./app.js")
