@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';

@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/custom-forms';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/utilities';

@import './components/topline/topline.scss';
@import './components/nav/nav.scss';
@import './components/playground-carousel/playground-carousel.scss';
@import './components/playground/playground.scss';
@import './components/display/display.scss';
@import './components/slider/slider.scss';
@import './components/control-pane/control-pane.scss';
@import './components/input-field/input-field.scss';
@import './components/checkbox/checkbox.scss';
@import './components/button/button.scss';

/*
 * Globals
 */

/* Links */

/*
 * Base structure
 */

html {
  min-width: 320px;

  @media (max-width: 1020px) {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
  background-color: #291524;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 48em;
}

/*
 * Cover
 */

.page {
  &__content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }
}

/*
 * Footer
 */

.footer {
  padding-top: 3.75rem;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

