footer.footer
  .container-fluid.container-fluid_size_md
    p.footer__copyright
      | The site is built by
      |
      +link({ name: "Alan Reid" })(target="_blank" rel="noopener noreferrer" href="https://github.com/alanreidt").link_secondary
      |
      | for
      |
      +link({ name: "Slider plugin" })(target="_blank" rel="noopener noreferrer" href="https://github.com/alanreidt/slider").link_secondary
      | .
      br
      | The design is based on
      |
      +link({ name: "Bootstrap" })(target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/").link_secondary
      |
      | Cover template, made by
      |
      +link({ name: "@mdo" })(target="_blank" rel="noopener noreferrer" href="https://twitter.com/mdo").link_secondary
      | .
