@import '../../scss/common.scss';

@import '../../../../node_modules/bootstrap/scss/forms';
@import '../../../../node_modules/bootstrap/scss/utilities/text';

.input-field {
  &__label {
    color: #333;
    text-transform: capitalize;
  }

  &__input::placeholder {
    opacity: 0.5;
  }
}
