//-
  Parameters:
    text {string} ['submit'] — text for button
  Attributes:
    type=['submit']
mixin button(text = 'submit')
  button.button.btn.btn-primary(type='submit')&attributes(attributes)= text
