include ../input-field/input-field

mixin control-input()
  .js-control-input
    form.js-control-input__form
      +input-field("current values", "reflects/updates current values")(
        class="js-control-input__values-input"
        id="control-input__values-input"
        placeholder="format: 0, 100"
        inputmode="numeric"
      )
