include ../display/display
include ../control-pane/control-pane

mixin playground()
  .playground.js-playground.rounded.p-3
    .row
      .col-sm
        +display()
      .col-sm
        +control-pane()
