@import "../display/display.scss";
@import "../control-pane/control-pane.scss";

.playground {
  &__title {
    text-transform: capitalize;
  }

  &__body {
    background-color: #fff;
    min-height: 100px;
  }
}
