@import "../display/display.scss";
@import "../control-pane/control-pane.scss";

.playground {
  &__title {
    text-transform: capitalize;

    @media (max-width: 845px) {
      font-size: 1.65rem;
    }
  }

  &__body {
    background-color: #fff;
    min-height: 100px;
  }
}
