.checkbox {
  margin-bottom: 0.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__inner {
    display: inline-block;

    cursor: pointer;
  }

  &__label {
    color: #333;
    text-transform: capitalize;

    cursor: pointer;
    user-select: none;
  }
}
