//-
  Parameters:
    labelText {string} !required — text for label tag
  Attributes:
    id !required
mixin checkbox(labelText = 'change me!')
  .checkbox.form-group
    .custom-control.custom-switch
      input.custom-control-input(
        type="checkbox"
        id != attributes.id
      )&attributes(attributes)
      label.checkbox__label.custom-control-label(
        for != attributes.id
      )= labelText
