.display {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;

  &__control-input {
    flex: 0 0 auto;
    max-width: 200px;
  }

  &__slider-wrapper {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
  }

  & .slider__base {
    border-color: #afafaf;
    background-color: #cacaca;
  }
}
