@import '../../scss/common.scss';

@import '../../../../node_modules/bootstrap/scss/utilities/screenreaders';
@import '../../../../node_modules/bootstrap/scss/carousel';

.playground-carousel {
  &__control {
    display: none;
    top: $playground-title-font-size * $headings-line-height + $playground-title-margin-bottom;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    &_prev {
      left: auto;
      right: 100%;
    }

    &_next {
      left: 100%;
      right: auto;
    }
  }

  &__indicators {
    top: 100%;
    bottom: auto;

    margin-top: 1rem;
    margin-bottom: 0;
  }
}
