.slider {
  --slider-buffer: 10px;
  --slider-base-width: 15px;
  --slider-base-height: var(--slider-base-width);
  --slider-tooltip-height: 26px;
  --slider-tooltip-margin: 5px;
  --slider-tooltip-border-width: 1px;
  --slider-handle-width: 24px;
  --slider-handle-height: var(--slider-handle-width);
  --slider-tooltip-gap: calc(
    var(--slider-tooltip-height) +
    var(--slider-tooltip-margin) +
    var(--slider-buffer)
  );
  --slider-handle-gap: calc(
    var(--slider-handle-width) / 2
  );

  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: var(--slider-tooltip-gap) var(--slider-handle-gap) 5px;

  font-family: serif;

  box-sizing: border-box;

  &__base {
    position: relative;
    z-index: 100;

    width: 100%;
    height: var(--slider-base-height);

    border-radius: 10px;
    border: 1px solid #D8D8D8;
    background-color: #E0E0E0;

    box-sizing: border-box;
  }

  &__handle-group {
    position: absolute;
    z-index: 200;

    top: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    transition: .15s ease-out left;
  }

  &__tooltip {
    position: absolute;
    z-index: 200;

    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    height: var(--slider-tooltip-height);
    line-height: calc( var(--slider-tooltip-height) - 2 * var(--slider-tooltip-border-width) );

    min-width: 30px;
    padding: 0 6px;
    margin-bottom: 5px;

    font-size: 14px;
    color: #FFF;
    text-align: center;

    border-radius: 3px;
    border: var(--slider-tooltip-border-width) solid #4A4A4A;
    background-color: #696969;

    user-select: none;
    box-sizing: border-box;
  }

  &__handle {
    width: var(--slider-handle-width);
    height: var(--slider-handle-height);

    border-radius: 50%;
    border: 1px solid #0069D9;
    background-color: #007BFF;

    box-sizing: border-box;
  }

}

.slider_vertical {
  width: auto;
  height: 100%;
  padding: calc( var(--slider-handle-width) / 2 ) 5px;

  & .slider__base {
    width: var(--slider-base-width);
    height: 100%;
  }

  & .slider__handle-group {
    top: auto;
    left: 50%;
    transition-property: top;
  }

  & .slider__tooltip {
    bottom: 50%;
    transform: translateY(50%);

    left: 100%;
    margin-bottom: 0;
    margin-left: 5px;
  }

}
