@import '../modules/iComponents/Scale/scale.scss';
@import '../modules/iComponents/Connector/connector.scss';

.slider {
  --slider-buffer: 10px;
  --slider-base-width: 15px;
  --slider-base-height: var(--slider-base-width);
  --slider-tooltip-height: 26px;
  --slider-tooltip-min-width: 30px;
  --slider-tooltip-margin: 5px;
  --slider-tooltip-border-width: 1px;
  --slider-handle-width: 24px;
  --slider-handle-height: var(--slider-handle-width);
  --slider-tooltip-gap: calc(
    var(--slider-tooltip-height) +
    var(--slider-tooltip-margin) +
    var(--slider-buffer)
  );
  --slider-handle-gap: calc(
    var(--slider-handle-width) / 2
  );

  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: var(--slider-tooltip-gap) var(--slider-handle-gap) 5px;

  font-family: serif;

  box-sizing: border-box;

  &__base {
    position: relative;
    z-index: 100;

    width: 100%;
    height: var(--slider-base-height);

    border-radius: 10px;
    border: 1px solid #D8D8D8;
    background-color: #E0E0E0;

    box-sizing: border-box;
    cursor: pointer;
  }

  &__handle-group {
    position: absolute;
    z-index: 200;

    top: 50%;
    transform: translate(-50%, -50%);

    cursor: grab;
    transition: .15s ease-out left;
  }

  &__tooltip {
    position: absolute;
    z-index: 200;

    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    height: var(--slider-tooltip-height);
    line-height: calc( var(--slider-tooltip-height) - 2 * var(--slider-tooltip-border-width) );

    min-width: var(--slider-tooltip-min-width);
    padding: 0 6px;
    margin-bottom: var(--slider-tooltip-margin);

    font-size: 14px;
    color: #FFF;
    text-align: center;

    border-radius: 3px;
    border: var(--slider-tooltip-border-width) solid #4A4A4A;
    background-color: #696969;

    user-select: none;
    box-sizing: border-box;
  }

  &__handle {
    width: var(--slider-handle-width);
    height: var(--slider-handle-height);

    border-radius: 50%;
    border: 1px solid #0069D9;
    background-color: #007BFF;

    box-sizing: border-box;
  }

  &__scale {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;

    width: calc(100% + 2px);
    height: 200%;

    pointer-events: none;

    & .scale__pip {
      background-color: #CECECE;
    }

    & .scale__value {
      pointer-events: initial;
    }
  }
}

.slider_theme_modern {
  --slider-base-width: 6px;
  --slider-handle-width: 16px;
  --slider-tooltip-height: 20px;
  --slider-tooltip-min-width: 20px;
  --slider-tooltip-margin: 5px;
  --slider-tooltip-border-width: 1px;
  --slider-tooltip-gap: calc(
    var(--slider-tooltip-height) +
    var(--slider-tooltip-margin) +
    var(--slider-buffer)
  );

  & .slider__base {
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #FFF;
  }

  & .slider__tooltip {
    padding: 0 4px;

    font-size: 11px;
    color: #333;
    border: 1px solid rgba(31, 32, 65, 0.25);

    background-color: #FFF;
  }

  & .slider__handle {
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }

  & .slider__scale {
    height: 400%;

    & .scale__pip {
      background-color: #c3c3c3;
    }

    & .scale__value {
      padding-top: 2px;

      font-size: 12px;
      color: #333;
    }
  }
}

.slider_theme_modern.slider_vertical {
  --slider-tooltip-margin: 3px;

  & .slider__scale {
    width: 400%;
  }
}

.slider_vertical {
  width: auto;
  height: 100%;
  padding: calc( var(--slider-handle-width) / 2 ) 5px;

  & .slider__base {
    width: var(--slider-base-width);
    height: 100%;
  }

  & .slider__handle-group {
    top: auto;
    left: 50%;
    transition-property: top;
  }

  & .slider__tooltip {
    bottom: 50%;
    transform: translateY(50%);

    left: 100%;
    margin-bottom: 0;
    margin-left: var(--slider-tooltip-margin);
  }

  & .slider__scale {
    top: -1px;
    left: 50%;
    transform: translateX(-50%);

    width: 200%;
    height: calc(100% + 2px);
  }
}
