body {
  margin: 50px;
  // margin: 0;
}

.user-slider {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 50px;
  // background-color: green;
}

.user-slider-vertical {
  display: block;
  max-width: 100px;
  height: 300px;
  background-color: #EEE;
}
