@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  margin: 50px;
  // margin: 0;
}

.someUserClass {
  width: 300px;
}

.slider {
  display: block;
  padding: 5px;

  // overflow: auto;

  &__base {
    position: relative;
    z-index: 100;

    width: 100%;
    height: 15px;

    border-radius: 10px;
    background-color: #E0E0E0;
  }

  &__handle-group {
    position: absolute;
    z-index: 200;

    top: 50%;
    transform: translate(-50%, -50%);

    background-color: red;
    cursor: pointer;
  }

  &__tooltip {
    position: absolute;
    z-index: 200;

    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 20px;
    margin-bottom: 5px;

    font-size: 14px;
    text-align: center;

    background-color: #EEE;
  }

  &__handle {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: blue;
  }

}
