include ../link/link

//-
  Parameters:
    items {array} — an array of navigation items
    items[i].href {string} — link for the navigation item
    items[i].name {string} — name for the navigation item
mixin nav(items)
  if !items
    - items = [];

  ul.nav
    each item in items
      li.nav-item
        +link(item).nav-link
