include ../link/link

//-
  Parameters:
    items {array} — an array of navigation items
    items[i].href {string} — link for the navigation item
    items[i].name {string} — name for the navigation item
mixin nav(items)
  if !items
    - items = [];

  ul.nav&attributes(attributes)
    each item in items
      li.nav__item.nav-item
        +link(item).nav__link.nav-link(class={nav__link_active: item.active})
