@import '../../scss/common.scss';

@import '../../../../node_modules/bootstrap/scss/type';
@import '../../../../node_modules/bootstrap/scss/grid';

.playground {
  &__title {
    font-size: $playground-title-font-size;
    margin-bottom: $playground-title-margin-bottom;

    text-align: center;
    text-transform: capitalize;

    @media (max-width: 845px) {
      font-size: 1.65rem;
    }
  }

  &__body {
    min-height: 100px;
    padding: 1rem;

    background-color: #fff;
    border-radius: 0.25rem;
  }
}
