include ../display/display
include ../control-pane/control-pane

//-
  Parameters:
    title {string} !required — title for playground section
mixin playground({ title = 'playground' })
  - const controlPaneName = title.toLowerCase().split(" ").join("-");

  .playground.js-playground
    h3.playground__title.cover-heading.text-center= title
    .playground__body.rounded.p-3
      .row
        .col-sm
          +display()
        .col-sm
          +control-pane(controlPaneName)
