include ../display/display
include ../control-pane/control-pane

//-
  Parameters:
    title {string} !required — title for playground section
mixin playground({ title = "playground" } = {})
  - const controlPaneName = title.toLowerCase().split(" ").join("-");

  .playground.js-playground
    h3.playground__title= title
    .playground__body
      .row
        .col-sm
          +display()
        .col-sm
          +control-pane(controlPaneName)
